@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%; 
  margin: 20px; 
  display: flex;
  flex-direction: row; /* 使卡片水平排列 */
  flex-wrap: wrap; /* 在容器太窄时使卡片换行 */
  justify-content: center;
  align-items: flex-start; /* 使卡片在換行時能從新一行的上方開始 */
}

.card {
  margin: 20px; /* 添加间隔 */

  min-height: 60vh;
  width: 20rem;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0rem 2rem;
  transform-style: preserve-3d;
  position: relative;

}

.sneaker {
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.sneaker img {
  width: 13rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 7rem;
  height: 7rem;
  background: linear-gradient(
    to right,
    rgba(240, 157, 156, 0.75),
    rgba(187, 221, 255, 0.75)
  );
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.info h1 {
  font-size: 1.7rem;
  transition: all 0.75s ease-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

button.active {
  color: white;
  background-color: #585858;
}

.collect {
  margin-top: 3rem;
  transition: all 0.75s ease-out;
}

.collect button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  font-family: inherit;
}

.stars {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 3em;
  color: gold;
}

@media screen and (min-width: 740px) {
  .card {
    width: 25rem;
    padding: 0rem 5rem;
  }

  .sneaker img {
    width: 20rem;
  }

  .circle {
    width: 15rem;
    height: 15rem;
  }

  .info h1 {
    font-size: 3rem;
  }

  .info h3 {
    font-size: 1.3rem;
  }
}



:root {
  --main-color: #a394b9;
  --secondary-color: #393a57;
  --ternary-color: #486ba6;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --background-color: #e4e7f8;
  --background-secondary-color: #fff;
  --border-color: #80717f;
  --border-secondary-color: #bcc0cb;
  --plus-color: #63c78c;
  --minus-color: #f87e70;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header img {
  width: 4.5rem;
  width: 4.5rem;
  opacity: 0.5;
}


.nav-links {
  display: flex;
  align-items: center;
  justify-content: center; 

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  
  margin-right: 10px;
  font-size: 20px;

}

.nav-links li a {
  text-decoration: none;
  color: #8a799d;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;

}

.nav-links li a:hover {
  background-color: #8a799d;
  color: #fff;
}