@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --main-color: #46477d;
  --secondary-color: #393a57;
  --ternary-color: #486ba6;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --background-color: #5b5f80;
  --background-secondary-color: #fff;
  --border-color: #80717f;
  --border-secondary-color: #bcc0cb;
  --plus-color: #63c78c;
  --minus-color: #f87e70;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


  .balance-container {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin: 30px auto;
    width: 500px;
    
  }
  
  .col{
      height:25vh;
      font-size: 24px;
      
  }
  
  .box{
    max-width: 200px;
    max-height: 200px;
    background-color: #A7BEC6;
    box-shadow: 0px 10px 0px 0px #9AA2AD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px auto;

  }

  .box.active {
    max-width: 200px;
    max-height: 200px;
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #9AA2AD;
    opacity: 0.5;
    margin: 30px auto;

  }

  #btnstart{
    max-width: 100px;
    max-height: 150px;
    background-color: #CB9B8F;
    box-shadow: 0px 20px 0px 0px #B98A82;
    border: none;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;


  }

  #btnstart:active {
    max-width: 100px;
    max-height: 150px;
    background-color: #B98A82;
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    margin: 30px auto;

}



.sneaker img {
  width: 13rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 7rem;
  height: 7rem;
  background: linear-gradient(
    to right,
    rgba(240, 157, 156, 0.75),
    rgba(187, 221, 255, 0.75)
  );
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.info h1 {
  font-size: 1.7rem;
  transition: all 0.75s ease-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

button.active {
  color: white;
  background-color: #585858;
}

.collect {
  margin-top: 3rem;
  transition: all 0.75s ease-out;
}

.collect button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  font-family: inherit;
}

.stars {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 3em;
  color: gold;
}

.sneaker {
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 740px) {
  .card {
    width: 35rem;
    padding: 0rem 5rem;
  }

  .sneaker img {
    width: 20rem;
  }

  .circle {
    width: 15rem;
    height: 15rem;
  }

  .info h1 {
    font-size: 3rem;
  }

  .info h3 {
    font-size: 1.3rem;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");


.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header img {
  width: 4.5rem;
  width: 4.5rem;
  opacity: 0.5;
}

.balance-container {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 30px auto;
  width: 500px;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.17rem;
}

.balance {
  letter-spacing: 1px;
  margin: 0;
  font-size: 2rem;
}

h3 {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h2,
h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: var(--background-secondary-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 5px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid var(--border-secondary-color);
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--plus-color);
}

.money.minus {
  color: var(--minus-color);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid var(--border-secondary-color);
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  color: var(--background-secondary-color);
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: var(--background-secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--ternary-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  padding: 10px;
  margin: 10px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list li.plus {
  border-left: 5px solid var(--plus-color);
}

.list li.minus {
  border-left: 5px solid var(--minus-color);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--minus-color);
  color: var(--background-secondary-color);
  box-shadow: var(--box-shadow);
  border: 0;
  font-size: 22px;
  line-height: 22px;
  padding: 10px;
  margin: 10px 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -73%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li span {
  flex: 1;
  text-align: center;
}


.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.notification-container {
  background-color: var(--minus-color);
  color: var(--background-secondary-color);
  border-radius: 5px 5px 0 0;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notification-container.show {
  opacity: 1;
}

.notification-container p {
  margin: 0;
}

#map {
  height: 300px;
  width: 100%;
  border: 1px solid var(--border-secondary-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

#find-location {
  background-color: var(--main-color);
  color: var(--background-secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px;
}

#location-select {
  appearance: none;
  background-color: var(--background-secondary-color);
  border: 1px solid var(--border-secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;

}

#location-select option {
  padding: 10px;
}

#location-select option:selected {
  background-color: var(--main-color);
  color: var(--background-secondary-color);
}

.form-control input[type="date"] {
  appearance: none;
  background-color: var(--background-secondary-color);
  border: 1px solid var(--border-secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-control input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--ternary-color);
  font-size: 16px;
  padding: 0 5px;
  cursor: pointer;
}



header {
  max-width: 1000px;
  width: 100%;
  background-color: #7d9bbc;
  padding: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center; 

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
  font-size: 20px;

}


.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;

}

.nav-links li a:hover {
  background-color: #5c84b3;
  color: #fff;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal h3 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}

#myChart{
  margin: auto;
  margin-top: 50px;
  display: block;
}